.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 3rem;
  @media only screen and(max-width:700px) {
    padding: 1rem 1rem;
  }
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 1rem 3rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: white;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $dark-color;
  color: $main-color;

  transition: 1s;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  @media only screen and(max-width:768px) {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    letter-spacing: 1px;
    padding: 1rem 0;
  }
  &-2 {
    letter-spacing: 1px;
    padding: 2rem 0;
  }
  &-3 {
    letter-spacing: 1px;
    padding: 3rem 0;
  }
  &-4 {
    letter-spacing: 1px;
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
  &-5 {
    margin: 5rem 0;
  }
}
.flex-justify {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.flex-justify-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.404);
}

//HEADINGS
.h1 {
  font-size: 1rem;
}

.h2 {
  font-size: 2rem;
  padding: 0.75rem;
}
.h3 {
  font-size: 3rem;
}
.h4 {
  font-size: 4rem;
}
.h1-5 {
  font-size: 1.5rem;
}

// BOX SHADOW
.b-shadow {
  box-shadow: rgba(0, 0, 0, 0.329) 2px 3px 2px;
}
.t-shadow {
  text-shadow: rgba(0, 0, 0, 0.445) 2px 2px;
}

//GRID TEMPLATES COLLUMNS
.grid-c1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.grid-c2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.grid-c2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.grid-c3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

//GRID TEMPLATES  ROWS
.grid-r1 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
}
.grid-r2 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
}
.grid-r3 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-r4 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
